H1 {
color:#2480c1;

}
H2 {
margin-top: 50px;
}
H5 {
margin: 0px;
font-size:8pt;
}
.fieldError{
border-color: #FF0000;
}
BODY, table,td, tr , label
{
line-height: 200%;
color:#787878;
background-color:#ededed;

font-size:12px;
	font-family:Verdana, Geneva, sans-serif;
}
td.grid_2{
max-width: 140px;
word-wrap: break-word;
}
tbody {
vertical-align: inherit;
}
.lowContrast
{
color: #cacaca;
}
.quote{
font-style:italic;
margin-left: 40px;
padding-left: 10px;
margin-top:50px;
margin-bottom:50px;
border-left:#787878 2px solid; 
}
pre {

white-space: pre-wrap; /* css-3 */
white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
white-space: -pre-wrap; /* Opera 4-6 */
white-space: -o-pre-wrap; /* Opera 7 */
word-wrap: break-word; /* Internet Explorer 5.5+ */
}
a:link {
color:#2480c1;
text-decoration:none;
}
a:visited {
COLOR: #cc66cc;
}
a:hover {
color:#60b2ec;
}
a:active {
COLOR: #66cc66;
}
.centeringDiv{
}
.blogPost{
height: 400px;
}
.blogContent{
float:left;
}
.contentGroup{
margin-bottom: 50px;
}
.img_300x165{
margin-top:20px;
margin-right:20px;
margin-bottom:20px;
}
.postThumbnail.img_300x165{
margin-bottom:0px;
}
.galleryContainer{
padding: 15px 20px; overflow:hidden; height: 485px; width: 500px;
}
.topicIcon{
float: left;
margin-top:20px;
margin-right:20px;
}
.postTitleLink{
text-decoration:none;
}
